<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/guest.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="../static/js/section.js" defer></script>
  <title>Document</title>
</head>

<body>
  <div id="guest">
    <h2 id="title">방명록</h2>
    <hr>
    <div>
      <div id="guestbox">
        <div id="entermessege">
          <p id="guesttext"> 오늘 잘 구경하고 갑니다 홈페이지 진짜 잘 꾸며 놓으셨네요 ....ㅋㅋㅋㅋ오늘 잘 구경하고 갑니다 홈페이지 진짜 잘 꾸며 놓으셨네요 ....ㅋㅋㅋㅋ오늘 잘
            구경하고갑니다 홈페이지 진짜 잘 꾸며 놓으셨네요 ....ㅋㅋㅋㅋ</p>
          <p id="messegedate">2021.03.16</p>
        </div>
        <div id="entermessege">
          <p id="guesttext"> 오늘 잘 구경하고 갑니다 홈페이지 진짜 잘 꾸며 놓으셨네요 ....ㅋㅋㅋㅋ오늘 잘 구경하고 갑니다 홈페이지 진짜 잘 꾸며 놓으셨네요 ....ㅋㅋㅋㅋ오늘 잘
            구경하고갑니다 홈페이지 진짜 잘 꾸며 놓으셨네요 ....ㅋㅋㅋㅋ</p>
          <p id="messegedate">2021.03.16</p>
        </div>
        <div id="entermessege">
          <p id="guesttext"> 오늘 잘 구경하고 갑니다 홈페이지 진짜 잘 꾸며 놓으셨네요 ....ㅋㅋㅋㅋ오늘 잘 구경하고 갑니다 홈페이지 진짜 잘 꾸며 놓으셨네요 ....ㅋㅋㅋㅋ오늘 잘
            구경하고갑니다 홈페이지 진짜 잘 꾸며 놓으셨네요 ....ㅋㅋㅋㅋ</p>
          <p id="messegedate">2021.03.16</p>
        </div>
      </div>

      <textarea id="guestTextArea"></textarea>
      <button id="enterguest">등록</button>
      <a href="/"><button id="comeback">홈으로</button></a>
    </div>
  </div>
</body>

</html>