<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="../static/js/script.js" defer></script>
  <title>Node6기</title>
</head>

<body>
  <div id="wrap">
    <header>
      <div id="logo">
        <div id="togglebutton">

        </div>
        <a>
          <div id="logo_image"></div>
        </a>
      </div>
      <div id="search">
        <input type="text">
        <img src="../static/images/zoom-lens.png" class="lens" alt="search button"></img>
      </div>
      <nav id="nav">
        <a id="bell" class="smallbutton"><img src="../static/images/bell.png"></a>
        <a class="smallbutton"><img src="../static/images/spanner.png"></a>
        <a class="smallbutton"><img src="../static/images/dotdotdot.png"></a>

      </nav>

    </header>
    <hr class="headline">
    <div id="container">
      <div id="scroll" class="scroll">
        <div id="sidebar">
          <div id="side_body">
            <div id="side_section_1" class="side_menu">
              <ul>
                <li><a>웹개발</a></li>
                <li><a>SQL</a></li>
                <li><a>프로그래머스 문제풀이</a></li>
                <li><a>리액트</a></li>
                <li><a>Nodejs</a></li>
              </ul>
            </div>
            <hr />
            <div id="side_section_2" class="side_menu">
              <ul>
                <li><a>파이썬</a></li>
                <li><a>C#</a></li>
                <li><a></a>MongoDB</li>
                <li><a>AWS</a></li>
                <li><a>리눅스</a></li>
              </ul>
            </div>
            <hr>
            <div id="side_section_3" class="side_menu">
              <ul>
                <li><a>테일윈트CSS</a></li>
                <li><a>부트스트랩</a></li>
                <li><a>포토샵</a></li>
                <li><a>일러스트레이터</a></li>
              </ul>
            </div>
            <hr>
            <div id="side_section_4" class="side_menu">
              <ul>
                <li><a>인공지능</a></li>
                <li><a>메타버스</a></li>
                <li><a>가상현실</a></li>
                <li><a>빅데이터</a></li>
                <li><a>클라우드</a></li>
              </ul>
            </div>
            <hr>
            <div id="side_section_5" class="side_menu">
              <ul>
                <li id="guestwrite"><a>방명록</a></li>
              </ul>
              <hr>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div id="writepen">
          <img id="pen" src="../static/images/pen.png">
          <p id="writing">Write </p>
        </div>

        <div id="slider">
        </div>

        <div id="scroll_contents">
          <div id="contents">
            <div id="maincontents">

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  </div>

  <div id="news">
    <h5>News</h5>
    <div id="newstexts">
      <ul>
        <li>새로운 소식이 있습니다.</li>
        <li>새로운 소식이 있습니다.</li>
        <li>새로운 소식이 있습니다.</li>
        <li>새로운 소식이 있습니다.</li>
      </ul>
    </div>
  </div>
</body>

</html>